vti_encoding:SR|utf8-nl
vti_author:SR|DESKTOP-T38P53B\\Dusty
vti_modifiedby:SR|DESKTOP-T38P53B\\Dusty
vti_timelastmodified:TR|16 Apr 2018 23:21:31 -0000
vti_timecreated:TR|16 Apr 2018 23:21:31 -0000
vti_cacheddtm:TX|16 Apr 2018 23:21:31 -0000
vti_filesize:IR|2684
vti_cachedlinkinfo:VX|Q|layout.css S|../images/leftphoto.jpg
vti_cachedsvcrellinks:VX|FQUS|styles/layout.css FSUS|images/leftphoto.jpg
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|master.dwt text\\ examples/index.html table\\ examples/index.html index.html about_me/index.html
